# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
dist/
build/
*.egg-info/

# tests / caches
.pytest_cache/
coverage.xml

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# DB files
*.sqlite3
